<div class="page-header">
  <h3>Matches Group #<%= @matches_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Team one</dt>
      <dd><%= @matches_group.team_one %></dd>

      <dt>Team two</dt>
      <dd><%= @matches_group.team_two %></dd>

      <dt>Date</dt>
      <dd><%= @matches_group.date %></dd>

      <dt>Location</dt>
      <dd><%= @matches_group.location %></dd>

      <dt>Groupletter</dt>
      <dd><%= @matches_group.groupletter %></dd>

      <dt>City</dt>
      <dd><%= @matches_group.city %></dd>

      <dt>Goals one</dt>
      <dd><%= @matches_group.goals_one %></dd>

      <dt>Goals two</dt>
      <dd><%= @matches_group.goals_two %></dd>

      <dt>Winner</dt>
      <dd><%= @matches_group.winner %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matches_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/matches_groups/<%= @matches_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_matches_group/<%= @matches_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Matches group has many bets_groups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bets Groups
      </li>

      <% @matches_group.bets_groups.each do |bets_group| %>
        <li class="list-group-item">
          <a href="/bets_groups/<%= bets_group.id %>">
            <%= bets_group.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bets_groups/<%= bets_group.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bets_groups/<%= bets_group.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bets_group/<%= bets_group.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Matches group has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @matches_group.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
