<div class="page-header">
  <h3>Matches Group #<%= @matches_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Team one</dt>
      <dd><%= @matches_group.team_one %></dd>

      <dt>Team two</dt>
      <dd><%= @matches_group.team_two %></dd>

      <dt>Date</dt>
      <dd><%= @matches_group.date %></dd>

      <dt>Location</dt>
      <dd><%= @matches_group.location %></dd>

      <dt>Groupletter</dt>
      <dd><%= @matches_group.groupletter %></dd>

      <dt>City</dt>
      <dd><%= @matches_group.city %></dd>

      <dt>Goals one</dt>
      <dd><%= @matches_group.goals_one %></dd>

      <dt>Goals two</dt>
      <dd><%= @matches_group.goals_two %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matches_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/matches_groups/<%= @matches_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_matches_group/<%= @matches_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Matches group has many bets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bets
      </li>

      <% @matches_group.bets.each do |bet| %>
        <li class="list-group-item">
          <a href="/bets/<%= bet.id %>">
            <%= bet.bet_team_one %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bets/<%= bet.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bets/<%= bet.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bet/<%= bet.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bet" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bet_team_one -->
      <div class="form-group">
        <label for="bet_team_one" class="control-label">
          Bet team one
        </label>

        <input type="text" id="bet_team_one" name="bet_team_one" placeholder="Bet team one" class="form-control" value="">
      </div>

      <!-- Label and input for bet_team_two -->
      <div class="form-group">
        <label for="bet_team_two" class="control-label">
          Bet team two
        </label>

        <input type="text" id="bet_team_two" name="bet_team_two" placeholder="Bet team two" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for matches_group_id -->
      <div class="form-group">
        <label for="matches_group_id" class="control-label">
          Matches group
        </label>

        <%= select_tag(:matches_group_id, options_from_collection_for_select(MatchesGroup.all, :id, :team_one), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Bet
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
