<div class="page-header">
  <h1>
    Results
    <a href="/results/new" class="btn btn-lg btn-success">New Result</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "results_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :users_score, "Users score" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :users_score_gteq, :class => "form-control", :placeholder => "Users score greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :users_score_lteq, :class => "form-control", :placeholder => "Users score less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :username_cont, "Username contains" %>
    <%= f.text_field :username_cont, :class => "form-control", :placeholder => "Username contains" %>
  </div>

<div class="form-group">
  <%= f.label :rank, "Rank" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :rank_gteq, :class => "form-control", :placeholder => "Rank greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :rank_lteq, :class => "form-control", :placeholder => "Rank less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :groupmatchresult_team_one_cont, "MatchesGroup team_one contains" %>
      <%= f.text_field :groupmatchresult_team_one_cont, :class => "form-control", :placeholder => "MatchesGroup team_one contains" %>
    </div>

<div class="form-group">
      <%= f.label :matchresult_team_one_cont, "MatchesKnockout team_one contains" %>
      <%= f.text_field :matchresult_team_one_cont, :class => "form-control", :placeholder => "MatchesKnockout team_one contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/results" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#results_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Users score</th>
        <th>Rank</th>
        <th>Username</th>
        <th>Bet</th>
        <th>Actions</th>
      </tr>

      <% @results.each do |result| %>
      <tr>
        <td><%= result.users_score %></td>
        <td><%= result.rank %></td>
        <td><%= result.username %></td>
        <td>
          <% if result.bet.present? %>
            <a href="/bets_groups/<%= result.bet.id %>">
              <%= result.bet.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/results/<%= result.id %>" class="btn btn-primary">Show</a>
          <a href="/results/<%= result.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_result/<%= result.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @results, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
