<!-- Validation failure messages -->
<% if @result.errors.any? %>
  <% @result.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Result</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_result" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for users_score -->
      <div class="form-group">
        <label for="users_score" class="control-label">
          Users score
        </label>

        <input type="text" id="users_score" name="users_score" placeholder="Users score" class="form-control" value="<%= @result.users_score %>">
      </div>

      <!-- Label and input for rank -->
      <div class="form-group">
        <label for="rank" class="control-label">
          Rank
        </label>

        <input type="text" id="rank" name="rank" placeholder="Rank" class="form-control" value="<%= @result.rank %>">
      </div>

      <!-- Label and input for username -->
      <div class="form-group">
        <label for="username" class="control-label">
          Username
        </label>

        <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @result.username %>">
      </div>

      <!-- Label and input for bet_id -->
      <div class="form-group">
        <label for="bet_id" class="control-label">
          Bet
        </label>

        <input type="text" id="bet_id" name="bet_id" placeholder="Bet" class="form-control" value="<%= @result.bet_id %>">
      </div>

      <button class="btn btn-success">
        Create Result
      </button>
      or
      <a href="/results">Cancel</a>
    </form>
  </div>
</div>
