<div class="page-header">
  <h3>Matches Knockout #<%= @matches_knockout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Team one</dt>
      <dd><%= @matches_knockout.team_one %></dd>

      <dt>Team two</dt>
      <dd><%= @matches_knockout.team_two %></dd>

      <dt>Date</dt>
      <dd><%= @matches_knockout.date %></dd>

      <dt>Location</dt>
      <dd><%= @matches_knockout.location %></dd>

      <dt>Round</dt>
      <dd><%= @matches_knockout.round %></dd>

      <dt>City</dt>
      <dd><%= @matches_knockout.city %></dd>

      <dt>Goals one</dt>
      <dd><%= @matches_knockout.goals_one %></dd>

      <dt>Goals two</dt>
      <dd><%= @matches_knockout.goals_two %></dd>

      <dt>Winner</dt>
      <dd><%= @matches_knockout.winner %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matches_knockouts" class="btn btn-primary">
        Back
      </a>
      <a href="/matches_knockouts/<%= @matches_knockout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_matches_knockout/<%= @matches_knockout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Matches knockout has many bets_knockouts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bets Knockouts
      </li>

      <% @matches_knockout.bets_knockouts.each do |bets_knockout| %>
        <li class="list-group-item">
          <a href="/bets_knockouts/<%= bets_knockout.id %>">
            <%= bets_knockout.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bets_knockouts/<%= bets_knockout.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bets_knockouts/<%= bets_knockout.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bets_knockout/<%= bets_knockout.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bets_knockout" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for match_id -->
      <div class="form-group">
        <label for="match_id" class="control-label">
          Match
        </label>

        <%= select_tag(:match_id, options_from_collection_for_select(MatchesKnockout.all, :id, :team_one), :class => "form-control") %>
      </div>

      <!-- Label and input for bet_team_one -->
      <div class="form-group">
        <label for="bet_team_one" class="control-label">
          Bet team one
        </label>

        <input type="text" id="bet_team_one" name="bet_team_one" placeholder="Bet team one" class="form-control" value="">
      </div>

      <!-- Label and input for bet_team_two -->
      <div class="form-group">
        <label for="bet_team_two" class="control-label">
          Bet team two
        </label>

        <input type="text" id="bet_team_two" name="bet_team_two" placeholder="Bet team two" class="form-control" value="">
      </div>

      <!-- Label and input for team_one -->
      <div class="form-group">
        <label for="team_one" class="control-label">
          Team one
        </label>

        <input type="text" id="team_one" name="team_one" placeholder="Team one" class="form-control" value="">
      </div>

      <!-- Label and input for team_two -->
      <div class="form-group">
        <label for="team_two" class="control-label">
          Team two
        </label>

        <input type="text" id="team_two" name="team_two" placeholder="Team two" class="form-control" value="">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for winner -->
      <div class="form-group">
        <label for="winner" class="control-label">
          Winner
        </label>

        <input type="text" id="winner" name="winner" placeholder="Winner" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Bets Knockout
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Matches knockout has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @matches_knockout.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
