<div class="page-header">
  <h3>Matches Knockout #<%= @matches_knockout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Team one</dt>
      <dd><%= @matches_knockout.team_one %></dd>

      <dt>Team two</dt>
      <dd><%= @matches_knockout.team_two %></dd>

      <dt>Date</dt>
      <dd><%= @matches_knockout.date %></dd>

      <dt>Location</dt>
      <dd><%= @matches_knockout.location %></dd>

      <dt>Round</dt>
      <dd><%= @matches_knockout.round %></dd>

      <dt>City</dt>
      <dd><%= @matches_knockout.city %></dd>

      <dt>Goals one</dt>
      <dd><%= @matches_knockout.goals_one %></dd>

      <dt>Goals two</dt>
      <dd><%= @matches_knockout.goals_two %></dd>

      <dt>Winner</dt>
      <dd><%= @matches_knockout.winner %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matches_knockouts" class="btn btn-primary">
        Back
      </a>
      <a href="/matches_knockouts/<%= @matches_knockout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_matches_knockout/<%= @matches_knockout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Matches knockout has many bets_knockouts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bets Knockouts
      </li>

      <% @matches_knockout.bets_knockouts.each do |bets_knockout| %>
        <li class="list-group-item">
          <a href="/bets_knockouts/<%= bets_knockout.id %>">
            <%= bets_knockout.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bets_knockouts/<%= bets_knockout.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bets_knockouts/<%= bets_knockout.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bets_knockout/<%= bets_knockout.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Matches knockout has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @matches_knockout.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
