<div class="page-header">
  <h1>
    Bets knockouts
    <a href="/bets_knockouts/new" class="btn btn-lg btn-success">New Bets knockout</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Match</th>
        <th>Bet team one</th>
        <th>Bet team two</th>
        <th>Team one</th>
        <th>Team two</th>
        <th>Date</th>
        <th>Winner</th>
        <th>Actions</th>
      </tr>

      <% @bets_knockouts.each do |bets_knockout| %>
      <tr>
        <td><%= bets_knockout.user.email %></td>
        <td><%= bets_knockout.match_id %></td>
        <td><%= bets_knockout.bet_team_one %></td>
        <td><%= bets_knockout.bet_team_two %></td>
        <td><%= bets_knockout.team_one %></td>
        <td><%= bets_knockout.team_two %></td>
        <td><%= bets_knockout.date %></td>
        <td><%= bets_knockout.winner %></td>
        <td>
          <a href="/bets_knockouts/<%= bets_knockout.id %>" class="btn btn-primary">Show</a>
          <a href="/bets_knockouts/<%= bets_knockout.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_bets_knockout/<%= bets_knockout.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
