<div class="page-header">
  <h3>Bets Knockout #<%= @bets_knockout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @bets_knockout.user.present? %>
          <a href="/users/<%= @bets_knockout.user_id %>">
            <%= @bets_knockout.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Match</dt>
      <dd>
        <% if @bets_knockout.user_signed.present? %>
          <a href="/matches_knockouts/<%= @bets_knockout.match_id %>">
            <%= @bets_knockout.user_signed.team_one %>
          </a>
        <% end %>
      </dd>

      <dt>Bet team one</dt>
      <dd><%= @bets_knockout.bet_team_one %></dd>

      <dt>Bet team two</dt>
      <dd><%= @bets_knockout.bet_team_two %></dd>

      <dt>Team one</dt>
      <dd><%= @bets_knockout.team_one %></dd>

      <dt>Team two</dt>
      <dd><%= @bets_knockout.team_two %></dd>

      <dt>Date</dt>
      <dd><%= @bets_knockout.date %></dd>

      <dt>Winner</dt>
      <dd><%= @bets_knockout.winner %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bets_knockouts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bets_knockout.user %>
        <a href="/bets_knockouts/<%= @bets_knockout.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bets_knockout/<%= @bets_knockout.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
